/*RESET CSS
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */

#root,
#__next {
  isolation: isolate;
}

/* WEATHER APP */

/*layout*/

html {
  height: 100%;
  width: 100%;
}
body {
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 12px;
}
header {
  position: fixed;
  bottom: 0;
  right: 0;
  /* transform: translateX(50%); */
  padding: 12px;
  align-items: center;
  z-index: 2;
}
#root {
  width: 100%;
}
/* direct root childrens */
#root > * {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
}
/* first child of #root direct childs direct children */
#root > * > *:first-child {
  width: 100%;
  display: block;
}
#root * {
  padding: 6px;
}
#forecast {
  width: 100%;
  overflow: hidden;
}
#forecastday {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  overflow: hidden;
}
#forecastday > *:first-child {
  grid-column-start: 1;
  grid-column-end: 8;
}

.shown {
  display: block;
}

.hidden {
  display: none !important;
}
